header, h2 {
  font-family: 'Major Mono Display', monospace;
}

body {
  background: #ffffff url('../img/galaxy_background.jpg');
  color: #eee;
  font-family: 'Oswald', sans-serif;
  height: 100%;
}

/*  -----------------------Breadcrumb */

.breadcrumb {
    font-size: 17px;
    list-style: none;
    margin: 0;
}

/* Display list items side by side */
.breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
.breadcrumb li+li:before {
    color: black;
    content: "/\00a0";
    padding: 8px;
}

/* Add a color to all links inside the list */
.breadcrumb li a {
    color: #eee;
    text-decoration: none;
}
.breadcrumb li a:hover {
    text-decoration: underline;
}

/* ------Function forms */
h2 {
  font-size: 0.9em;
  margin-top: 15px;
}

.flexbox {
  padding: 0; /* Override inline ul padding*/
}

li {
  list-style-type: none;
}

.function {
  margin-left: 10px;
}

button {
  -moz-appearance: button;
  -webkit-appearance: button;
  background: #fff;
  background: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 10px;
  font-family: 'Oswald', sans-serif;
  margin-top: 2%;
  max-height: 25px;
  min-height: 25px;
  padding-bottom: 2px;
  text-align: center;
}

button:hover {
  cursor: pointer;
}



input {
  background: #000;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #eee;
  border: 2px solid rgba(186, 137, 241, 0.21);
  border-radius: 10px;
  box-sizing: content-box;
  color: #eee;
  line-height: 25px;
  margin-top: 2%;
  max-height: 25px;
  min-height: 25px;
  text-indent: 5px;
  width: 98%;
}

p {
  font-size: 0.7em;
}

/*  Footer */
footer {
  bottom: 0;
  position: relative;
  width: 100%;
}

.contact_wrapper {
  padding: 0;
}

.contact img {
  max-width: 28px;
}

.contact {
  font-size: 0.7em;
}

.contact_title {
  font-size: 0.7em;
}
