body {
  overflow-x: hidden;
  /* position: relative; */
  /* overflow-y: hidden; */
  height: 100%;
}

nav {
  display: flex;
  flex-flow: row wrap;
}

.flexbox {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.function {
  display: flex;
  flex-flow: column nowrap;
  max-width: 150px;
}

.function > * {
  flex: 1 100%;
}

.contact_wrapper {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

.contact {
  /* justify-content: space-around; */
  margin: auto;
}
