body {
  height: 100%;
  overflow-x: hidden;
}

nav {
  display: flex;
  flex-flow: row wrap;
}

.flexbox {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: auto;
}

.function {
  display: flex;
  flex-flow: column nowrap;
  width: 150px;
}

.function > * {
  flex: 1 100%;
}

.contact_wrapper {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

.contact {
  margin: auto;
}

/* medium screens */
@media screen and (min-width: 650px) {
  .flexbox {
    width: 70%;
  }
  .function {
    width: 200px;
  }

  footer {
    font-size: 1em;
  }
  p {
    font-size: 1em;
  }
  h2 {
    font-size: 1.2em;
  }
  input, button {
    font-size: 1em;
  }
}

/* medium screens */
@media screen and (min-width: 900px) {
  .flexbox {
    width: 600px;
  }
  h2 {
    font-size: 1.4em;
  }
  footer {
    font-size: 1.4em;
  }
  p {
    font-size: 1.2em;
  }
}

  /* large screens */
  @media screen and (min-width: 1250px) {
    h2 {
      font-size: 1.5em;
    }
    footer {
      font-size: 1.5em;
    }
    p {
      font-size: 1.2em;
    }
}
